################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BlogSimples/obj
/BlogSimples/.vs/BlogSimples.slnx
/Autenticacao/obj
/.vs
/BlogSimples.Api/.vs
/BlogSimples.Api/bin/Debug/net10.0
/BlogSimples.Api/obj
/BlogSimples.Autenticacao.Application/bin/Debug/net10.0
/BlogSimples.Autenticacao.Application/obj
/BlogSimples.Autenticacao.Application.Tests/bin/Debug/net10.0
/BlogSimples.Autenticacao.Application.Tests/obj
/BlogSimples.Autenticacao.Domain/bin/Debug/net10.0
/BlogSimples.Autenticacao.Domain/obj
/BlogSimples.Autenticacao.Infrastructure/bin/Debug/net10.0
/BlogSimples.Autenticacao.Infrastructure/obj
/BlogSimples.Common/bin/Debug/net10.0
/BlogSimples.Common/obj
/BlogSimples.IoC/bin/Debug/net10.0
/BlogSimples.IoC/obj
/BlogSimples.Postagem.Application/bin/Debug/net10.0
/BlogSimples.Postagem.Application/obj
/BlogSimples.Postagem.Application.Tests/bin/Debug/net10.0
/BlogSimples.Postagem.Application.Tests/obj
/BlogSimples.Postagem.Domain/bin/Debug/net10.0
/BlogSimples.Postagem.Domain/obj
/BlogSimples.Postagem.Infrastructure/bin/Debug/net10.0
/BlogSimples.Postagem.Infrastructure/obj
/BlogSimples.Notificacao/bin/Debug/net10.0
/BlogSimples.Notificacao/obj
/BlogSimplesNotificacaoCliente/.vs/BlogSimplesNotificacaoCliente.slnx/FileContentIndex
/BlogSimplesNotificacaoCliente/bin/Debug/net10.0
/BlogSimplesNotificacaoCliente/obj
/BlogSimplesNotificacaoCliente/.vs/ProjectEvaluation
